<!DOCTYPE html>
<html>
    <head>
        <title>EasyJob</title>

        {% include "parts/styles.njk" %}
    </head>

    <body>
        {% include "parts/header.njk" %}

        {% block content %}{% endblock %}
        
    </body>
</html>