<header>

    <div class="container">

        <div class="menu">
            <a href="/">
                <i class="material-icons">menu</i>
                MENU
            </a>

            <ul class="submenu">
                <li>
                    <a href="">Institucional</a>
                </li>
                <li>
                    <a href="">Minha Conta</a>
                </li>                     
            </ul>

            
        </div>

        <a href="/">
            <div class="company-logo">
                <h1>EasyJob</h1>
                <h2>OFERTA E PROCURA</h2>
            </div>
        </a>

        <nav class="primary">
            <ul>
                <li>
                    <a href="">Vagas</a>
                </li>  
                <li>
                    <a href="">Empresas</a>
                </li>
                <li>
                    <a href="/login">Entrar</a>
                </li>            
            </ul>
        </nav>

    </div>

</header>