<link rel="stylesheet" href="/styles/index.css">
{# material icons href #}
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">  
{# google fonts href #}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Newsreader&display=swap">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Newsreader&display=swap">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap">